/* Reset no css: configurar estilizações padrões para todos os elementos presentes no HTML. */

* {
  font-family: "Maven Pro", sans-serif;
  margin: 0;
  padding: 0;
}

/* body */
body {
  background-color: #663399;
  color: #ffffff;
}

/* header */
header {
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 16px;
}

ul {
  display: flex;
  height: 100%;
  align-items: center;
}

nav ul li {
  padding-left: 16px;
  list-style-type: none;
}

/* main */

main {
  background-color: #663399;
  color: white;
}

section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

section div {
  /*fundo com imagem  */
  background-image: url("./img/bg_laranja.jpg");
  margin: 10px;
  padding: 15px;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  color: white;

  /* pequeno espaço entre os textos */
  text-align: left;

  /* espacamento entre os elementos h3 e p */
  display: flex;
  flex-direction: column;
  gap: 10px;
}
